:root {
  --main-bg-color: white;
  --main-fg-color: rgb(51,51,51);

  --primary-border: #cbcbcb;

  --cell-bg: white;
  --cell-bg-hover: #eeedee;
  --cell-bg-focus: #e2dfe3;

  --toolbar-bg: rgba(255,255,255,.5);
  --toolbar-button: #aaa;
  --toolbar-button-hover: #555;

  --dropdown-content: var(--cell-bg-hover);
  --dropdown-content-hover: var(--cell-bg-focus);

  --pager-bg: #fafafa;
  --input-color: #8c8a8e;

  --cm-background: #fafafa;
  --cm-color: black;

  --cm-gutter-bg: white;

  --cm-comment: #a86;
  --cm-keyword: blue;
  --cm-string: #a22;
  --cm-builtin: #077;
  --cm-special: #0aa;
  --cm-variable: black;
  --cm-number: #3a3;
  --cm-meta: #555;
  --cm-link: #3a3;
  --cm-operator: black;
  --cm-def: black;

  --cm-activeline-bg: #e8f2ff;
  --cm-matchingbracket-outline: grey;
  --cm-matchingbracket-color: black;

  --cm-hint-color: var(--cm-color);
  --cm-hint-color-active: var(--cm-color);
  --cm-hint-bg: var(--main-bg-color);
  --cm-hint-bg-active: #ABD1FF;

  --status-bar: #eeedee;
}

/* -------------------- */
/* Miscellaneous Styles */
/* -------------------- */

body
{
  line-height: 1.3 !important;
}

/*custom scrollbar for notebook cells and hint box*/
div::-webkit-scrollbar, ul::-webkit-scrollbar {
      width: 11px;
      height: 11px;
}
div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
      background-color: rgba(199,199,199, .4)
}
div::-webkit-scrollbar-thumb:hover, ul::-webkit-scrollbar-thumb:hover {
      background-color: rgba(199,199,199, .6)
}
div::-webkit-scrollbar-thumb:active, ul::-webkit-scrollbar-thumb:active {
      background-color: rgba(199,199,199, .8)
}
div::-webkit-scrollbar-corner, ul::-webkit-scrollbar-corner {
      background-color:transparent;
}
